/* Font Families
font-family: 'Work Sans', sans-serif;

*/

/* Global CSS Variables - Colors */
:root {
    --primary-color: #276678;
    --secondary-color: #1687A7;
    --tertiary-color: #b6c9d8;
    --quaternary-color: #d3e0ea;
}

/* Remove Default Browser Enforced Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Work Sans', sans-serif;
    background-image: url(../images/hero-mountains-banff.jpg);
    background-size: cover;
    background-position: 80%;
}

/* Header Section */

header {
    top: 0;
    padding: 20px 45px;
    background-color: var(--primary-color);
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: sticky;
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
    transition: 0.25s;
}

header a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header nav ul, .contact-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a, .contact-content ul li {
    padding: 40px;
    font-size: 1rem;
}

/* Header Section End */

/* Hero Section */

.hero {
    background-image: url("../images/hero-mountains-banff.jpg");
    background-size: cover;
    background-position: 80%;
    background-position-y: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.hero h1 {
    font-size: 3.5rem;
    font-weight: lighter;
}

.hero a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Hero Section End */

/* About Me, Prjects, Contact Sections */

#projects, #about-me, #contact {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1 20%;
    width: 20%;
    padding: 45px;
    background-color: var(--primary-color);
    overflow: auto;
}

.section-title h2 {
    color: var(--quaternary-color);
    font-weight: lighter;
    font-size: 1.8rem;
}

#about-me p {
    line-height: 1.5;
    padding: 0 10px 10px 0;
}

.section-content {
    flex: 1 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 35px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.section-content a {
    text-decoration: none;
}

.run-buddy {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: 0.5;
    flex: 1 100%;
    padding: 200px 25px;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid var(--secondary-color);
    overflow: hidden;
}

.run-buddy:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/run-buddy-screenshot.jpg");
    background-size: cover;
    opacity: 0.4;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    overflow: hidden;
    transition: 0.25s;
}

.run-buddy:hover:before {
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    opacity: 0.7;
}


.text-content {
    position: relative;
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
    transition: 0.25s;
}

.text-content:hover {
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

.password-gen, .blind-auct {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 50px 25px;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid var(--secondary-color);
    overflow: hidden;
}

.password-gen:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/password-js-image.png");
    background-size: cover;
    opacity: 0.4;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    overflow: hidden;
    transition: 0.25s;
}

.password-gen:hover:before {
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    opacity: 0.7;
}

.blind-auct:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/blind-auct-image.jpg");
    background-size: cover;
    opacity: 0.4;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    overflow: hidden;
    transition: 0.25s;
}

.blind-auct:hover:before {
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    opacity: 0.7;
}

/* Contact Section */

.contact-content {
    flex: 1 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    justify-content: center;
}

.contact-content ul li {
    color: var(--secondary-color);
    padding: 5px 20px;
}

.contact-content a {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 5px;
}

.contact-content a:hover {
    color: var(--quaternary-color)
}

/* Footer Section */

footer {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url("../images/footer-image.jpg");
    background-size: cover;
    background-position: bottom;
    color: var(--secondary-color);
    flex-basis: 100%;
    padding: 20px;
}

footer div {
    margin: 0 15px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1000px) {
    .hero {
        background-image: url("../images/hero-mountains-banff.jpg");
        background-size: cover;
        background-position: 80%;
        height: 300px;
    }

    .run-buddy:before, .password-gen:before, .blind-auct:before {
        opacity: 0.7;
    }

    .text-content {
        filter: opacity(1);
        -webkit-filter: opacity(1);
    }

    .contact-content ul li {
        flex: 1;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    header nav ul li a {
        padding: 5px 15px;
    }

    .section-title {
        justify-content: center;
        background-color: var(--tertiary-color);
        padding: 25px;
    }
    
    .section-content {
        flex: 1 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--tertiary-color);
        color: var(--primary-color);
    }
    
    .section-title h2 {
        color: var(--primary-color);
        font-weight: normal;
        border-bottom: 1px solid var(--primary-color);
        padding: 0 45px 25px 45px;
    }

    .contact-content {
        flex-basis: 100%;
        font-size: 1rem;
        padding: 20px 0;
    }

    footer {
        font-size: 0.8rem;
        justify-content: center;
    }

    .password-gen, .blind-auct {
        flex-basis: 100%;
    }

    .contact-content ul {
        flex-direction: column;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        padding: 5px 0;
    }


}